<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings><add name="PertLpgDbEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\work\pertaminalpg-api\Basketee.API\App_Data\PertLpgDb.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PertaminaLpgDbEntities" connectionString="metadata=res://*/Models.PertaminaLpgModel.csdl|res://*/Models.PertaminaLpgModel.ssdl|res://*/Models.PertaminaLpgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.itdeveloptment.net;initial catalog=lpgdev;user id=lpg;password=Eram@2017#Lpg;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <!--<add name="PertaminaLpgDbEntities" connectionString="metadata=res://*/Models.PertaminaLpgModel.csdl|res://*/Models.PertaminaLpgModel.ssdl|res://*/Models.PertaminaLpgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.itdeveloptment.net;initial catalog=lpgdev;user id=lpg;password=Eram@2017#Lpg;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="PertaminaLpgDbEntities" connectionString="metadata=res://*/Models.PertaminaLpgModel.csdl|res://*/Models.PertaminaLpgModel.ssdl|res://*/Models.PertaminaLpgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CNCC7SG\HPSERVER;initial catalog=lpgdev;user id=sa;password=accubits;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--  <add name="PertaminaLpgDbEntities" connectionString="metadata=res://*/Models.PertaminaLpgModel.csdl|res://*/Models.PertaminaLpgModel.ssdl|res://*/Models.PertaminaLpgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CNCC7SG\HPSERVER;initial catalog=lpgdev;user id=sa;password=accubits;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  <add name="PertaminaLpgDbEntities" connectionString="metadata=res://*/Models.PertaminaLpgModel.csdl|res://*/Models.PertaminaLpgModel.ssdl|res://*/Models.PertaminaLpgModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.173.36.170,49160;initial catalog=Basketee;user id=sa;password=May@2020;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>