<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Basketee.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpsBinding_IService1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ptmkpwabsvc01.pertamina.com/WCF_Messaging1/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="SMTPServices.IService1" name="BasicHttpBinding_IService1" />
            <endpoint address="https://apps.pertamina.com/WCF_Messaging1/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService1"
                contract="SMTPServices.IService1" name="BasicHttpsBinding_IService1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Basketee.API.Properties.Settings>
            <setting name="Pertamina_LPG_API_ServicesLib_PertaminaServices_SVC_MS2Mobile"
                serializeAs="String">
                <value>https://apps.pertamina.com/svc_ms2mobile/svc_ms2mobile.asmx</value>
            </setting>
        </Basketee.API.Properties.Settings>
    </applicationSettings>
</configuration>